<p id="notice"><%= notice %></p>



<div class="container">

<div class="messages-page">
<h1>Inbox</h1>


    <div class="row">
      <div class="col-md-4">
      <h2>Messages</h2>
    </div>

    
      <div class="col-md-8">
     <h2> </h2>
    </div>
     </div><!--row ends-->
    
    

    <% @unique_users.each do |user| %>
     
  

      <div class="row">

        <div class="col-md-4">
          
            <%= user.username %>

        </div>

        <div class="col-md-8">
          <%= link_to 'Chat!', messages_reply_path(:owner =>  user.id), class: "btn btn-primary"  %>

          <%= link_to 'View Profile', pages_account_path(:user =>  user), class: "btn btn-primary"  %>
        </div>

    </div><!--row ends-->
    


    <% end %>


  </tbody>
</table>
</div><!--messages page ends-->

</div><!--container ends--> 

<br>

