<div class="index-background">
	<div class="container">
		<div class="container">
		<h1>Edit Textbook</h1>

		<%= render 'form', textbook: @textbook %>

		<%= link_to 'Show', @textbook %> |
		<%= link_to 'Back', textbooks_path %>
		</div>
	</div><!--container ends here-->
</div><!--index-background ends here-->