<h1> Placeholder for about page </h1>


<div class="container-about-page">
<div class="container">
<div class="row"> <h1>About Us</h1></div><!--row ends here-->
<div class="row"><h3>College is stressful, but we’re not. We let you get the textbooks you need for way less than the retail price. You can buy and sell textbooks directly to other users, but that’s not all! On our messageboards you can see whether professors will actually use the expensive textbooks that they made you get in the first place. We made this app since we’re college students ourselves, so we’ve been through the ordeal of buying textbooks. We want to you to have a better experience with getting your textbooks.</h3></div><!--row ends here--></div><!--container end here-->
</div><!--container about page ends-->