<div class="container-faq-page">
<div class="container">
<div class="row"> <h1>Frequently Asked Questions</h1></div><!--row ends here-->
<div class="col-12">
	<ol>
		<li>
			<h3>Do you have ____ textbook?</h3></li>
			<p>You can find Bookpository’s selection of textbooks with the search bar and by applying filters. If the textbook you are searching for does not appear, then we do carry it.</p>
		<li>
			<h3>Is selling things other than textbooks permitted on Bookpository?</h3>
			<p>No, users can only sell textbooks on Bookpository.</p>
		<li>
			<h3>Are options available for if a user is being problematic?</h3>
			<p>If another user is being problematic then use the “report” option to report them. Bookpository’s moderators will resolve the situation as soon as possible.</p>
		<li>
			<h3>I have a question that is not on the FAQ page.</h3>
			<p>Please use the search function or message another user to see if your question has been answered elsewhere. If you still cannot find an answer then email Bookpository at Bookpository@fakeemail.com.</p>		

		</ol>
	</div><!--row ends here--></div><!--container end here-->
</div><!--container faq page ends-->

