/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";



body { 
    padding-top: 50px;
    background-image: asset_url('lined_paper_bg1.png'); 
}

.col-12 {
  height: 500px;
  background:#F8F8FF;
  width: auto;
  position: relative;
  box-shadow: 5px 10px 18px #888888;

}

.container-about-page h1 {
  padding-top:50px;
  padding-left: 30px;
}

.container-about-page h3 {
  padding-top: 50px;
  line-height: 50px;
  font-family: 'open sans';
  padding-left: 50px;
  padding-right: 50px;
}

.container-about-page {
  padding-bottom: 30px;
}

.container-profile-page {
  padding-bottom: 30px; 
}

.show-text h1 {
  padding-top: 50px;
  text-align: center;
}

.container-show-page {
  padding-bottom: 30px;
}

.profile-page-text h2 {
  padding-left: 20px;
  padding-top: 20px;
}
.container-faq-page h1 {
  padding-top:50px;
}

.container-faq-page h3 {
  padding-top: 30px;
  line-height: 20px;
  font-size: 18px
}

.container-faq-page p{
  font-size: 16px
}
.container-faq-page {
  padding-bottom: 30px;
}
.footer {
  height: 200px;
  background: #303F9F;
}

.footer {
  color:#FFFFFF;
}


.hero-image-text h1 {
  padding-top: 50px;
}

.hero-image-text h2 {
  padding-bottom: 25px;

}

.hero-image-text {
  text-align: center;
}

.hero-image {
  height: 500px;
  width: auto;
  background-image: asset_url('students.jpg');
  background-size: contain;
  opacity: .5;
}
img.user-show{
  padding-top: 10px;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 60px;
}

.textbook-images{
  height: 100px;
}

img.textbook-show {

width: 300px;
height: auto;
margin-left: auto;
margin-right: auto;
display: block;
}

img.textbook-image{
  width: 50%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-bottom: 5px;
  max-height: 200px;
  min-height: 200px;
}


.textbook-listing-box ul {
	list-style-type: none;
	position: relative;
	bottom: 0;
  color: #303F9F;
}


.textbook-listing-box {
	height: 400px;
	position: relative;
	background: #F8F8FF;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
  

}

.index-background {
	min-height: 1000px;

}


.textbook-box-col {
	padding-top: 30px;
	padding-bottom: 15px;

}

.search-bar {

}

.textbooks-heading {
	padding-top: 50px;
	padding-bottom: 15px;
  color: #303F9F;
	
}


.textbook-navbar {
	list-style-type: none;

}

.my-profile {
  padding-top: 30px;
  padding-left: 20px;
}
.new-textbook h1 {
  padding-top: 30px;
}

h1 {
  font-family: 'Josefin Sans';
  color: #303F9F;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;

}

h2 {
  font-family: 'Josefin Sans';
  color: #303F9F;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

}

h3 {
  font-family: 'Josefin Sans';
  color: #303F9F;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

}
.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}
.simple_form label {
  float: left;
  width: 100px;
  text-align: left;
  margin: 2px 10px;
}

.navbar {
        background-color:#C4CAE9;
        background-image: none;
        height:50px;
    }

.navbar ul li a {
  color: #303F9F;
  font-family: 'Josefin Sans';
  padding-left: 20px;
}

.page-footer h2 {
  color:#FFFFFF;
}

.page-footer ul li a {
  color:#FFFFFF;
}