/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body { 
    padding-top: 100px;
    background-image: url(lined_paper_bg1.png); 

}

.container-hero-image {
  height: 500px;
  width: fill;
  content: url(hero_image_books.jpg);
  object-fit: cover; 
}

.textbook-listing-box ul {
	list-style-type: none;
	position: relative;
	bottom: 0;
  color: #303F9F;
}

.textbook-listing-box {
	height: 400px;
	position: relative;
	background: #FFFFFF;
  border-style: solid; 
  border-color: #4CAF50;

}

.index-background {
	min-height: 1000px;
	


}


.textbook-box-col {
	padding-top: 15px;
	padding-bottom: 15px;

}

.search-bar {
	padding-top: 15px;
	padding-bottom: 15px;	
	float: right;
}

.textbooks-heading {
	padding-top: 50px;
	padding-bottom: 15px;
  color: #303F9F;
	
}


.textbook-navbar {
	list-style-type: none;

}


h1 {
  font-family: 'Abril Fatface', serif;
  color: #303F9F;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;

}

h2 {
  font-family: 'Abril Fatface', serif;
  color: #303F9F;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

}

h3 {
  font-family: 'Josefin Sans', serif;
  color: #303F9F;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

}
.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}
.simple_form label {
  float: left;
  width: 100px;
  text-align: left;
  margin: 2px 10px;
}

.navbar {
        background-color:#C4CAE9;
        background-image: none;
        height:100px;
    }

.navbar ul li a {
  color: #303F9F;
  font-family: 'Josefin Sans', serif;
}

.textbook-navbar ul li a {
    color: #303F9F;
}

.message-container{
  border: solid;

}

